.el {
  position: fixed;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 2px solid crimson;
  border-radius: 25px;
  width: 50px;
  height: 50px;
  background-color: rgba(255, 99, 71, 0.8);
  font-weight: bold;
  text-align: center;
  line-height: 25px;
}

#gift {
  background-color: rgba(127, 255, 0, 0.8);
  user-select: none;
  cursor: pointer;
}

.area {
  background-color: #666;
  min-height: 400px;
  width: 100%;
  border-radius: 5px;
}

.stat {
  margin: 3px;
  padding: 5px;
  border: 1px solid green;
  display: inline;
}

.active {
  transition: all 5s;
  background-color: green;
  color: white;
}
