<h3>Game</h3>

<div class="stat" *ngFor="let item of stats$ | async | keyvalue" [appActive]='item.value'>
  {{item.key}}
</div>

<br><br>

<ng-template #playerTpl let-data>
    <div class="el" [id]="data.username" [ngStyle]="{'left.px': data.clientX, 'top.px': data.clientY }">
        {{data.username}}
    </div>
</ng-template>

<div #area class="area"></div>
