<ng-template #info>
  <h2>logged: {{auth$|async}}</h2>
</ng-template>

<app-form-generator #g *ngIf="!(auth$|async); else info" [formConfig]="formConfig" (action)="onAction($event)">
  <ng-template>
    <h2>Przykład użycia generatora formularzy w trybie ręcznego ułożenia elementów.</h2>
    <div class="flex">
      <div>
        <ng-container [appFieldGenerator]="{config:formConfig[0], form: g.form}"></ng-container>
      </div>
      <div>
        <ng-container [appFieldGenerator]="{config:formConfig[1], form: g.form}"></ng-container>
      </div>
    </div>
    <ng-container [appFieldGenerator]="{config:formConfig[2], form: g.form}"></ng-container>
  </ng-template>
</app-form-generator>
