<h3>Form Generator</h3>

<app-form-generator (action)='onAction($event)' [formConfig]='formConfig$ | async'></app-form-generator>

<div style="color: red" *ngFor="let error of errors">
    {{error|json}}
</div>
