<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" [disableClose]="!(isHandset$ | async)" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <button mat-mini-fab routerLink="/">
        <mat-icon>home</mat-icon>
        v. {{version}}
      </button>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLinkActive="active-list-item" routerLink="game">game</a>
      <a mat-list-item routerLinkActive="active-list-item" routerLink="items">items</a>
      <a mat-list-item routerLinkActive="active-list-item" routerLink="cart">cart</a>
      <a mat-list-item routerLinkActive="active-list-item" routerLink="register">register</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>demo-ng-adv-store-app</span> &nbsp;&nbsp;
      <a routerLink="cart">
        <mat-icon matBadge="{{cartCount$|async}}" matBadgeColor="warn" color="accent" matBadgePosition="above after">
          shopping_cart</mat-icon>
      </a>
      <app-spinner [loading]="loading$ | async"></app-spinner>
      <span class="spacer"></span>
      <a routerLink="login" *ngIf="!(auth$|async)">
        <button mat-raised-button color="warn">Log in</button>
      </a>
      <button *ngIf="auth$|async" (click)="logOut()" mat-raised-button color="warn">Log out</button>
    </mat-toolbar>
    <!-- Add Content Here -->
    <mat-card>
      <router-outlet></router-outlet>
      <br>
      <course-footer courses></course-footer>
    </mat-card>

  </mat-sidenav-content>
</mat-sidenav-container>
