<div class="cart">
  <h3>Your Shopping Cart</h3>
  <app-data-grid [data]="items$|async" [headers]="['Nr.','Title', 'Price', 'Amount','Image', 'Action']">
    <ng-template let-item let-nr='nr'>
      <td>{{nr}}</td>
      <td>{{item.title}}</td>
      <td>{{item.price}}</td>
      <td>
        <mat-icon [matBadge]="item.count" matBadgeColor="warn"></mat-icon>
      </td>
      <td><img [src]="item.imgSrc" width="40"></td>
      <td>
        <button mat-mini-fab (click)="increase(item)">+</button>
        <button mat-mini-fab (click)="decrease(item)">-</button>
        <a mat-icon-button (click)="remove(item)">
          <mat-icon>remove_shopping_cart</mat-icon>
        </a>
      </td>
    </ng-template>
  </app-data-grid>

</div>
