<h2>Items List</h2>

<div class="two-columns">
  <div>
    <app-data-grid [data]="items$|async" [headers]="['Nr.','Title', 'Price', 'Image', 'Buy', 'More']">
      <ng-template let-item let-nr='nr'>
        <td>{{nr}}</td>
        <td>{{item.title}}</td>
        <td>{{item.price}}</td>
        <td>
          <img [src]="item.imgSrc" width="50">
        </td>
        <td>
          <a mat-icon-button (click)="buy(item)">
            <mat-icon>add_shopping_cart</mat-icon>
          </a>
        </td>
        <td>
          <a [routerLink]="item.id">
            <mat-icon color='accent'>more</mat-icon>
          </a>
        </td>
      </ng-template>
    </app-data-grid>
  </div>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
