/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.spacer {
  flex: 1 1 auto;
}

.notification {
  color: white;
  font-weight: bold;
  border: 1px solid black;

  .mat-button {
    background-color: black;
    color: white;
  }

  &.success {
    background-color: green;
  }

  &.error {
    background-color: crimson;
  }

  &.info {
    background-color: lightblue;
  }

  &.warning {
    background-color: orange;
  }
}

.two-columns {
  display: flex;
  >:first-child{
    width: 50%;
    margin-right: 20px;
  }
}
